<h1 mat-dialog-title>
  Auswahl aktive Widgets
</h1>

<div *ngIf="store.appStateData.widgets">
  <div *ngFor="let widget of store.appStateData.widgets">
    <mat-checkbox [(ngModel)]="widget.isChecked">
      {{widget.label}}
    </mat-checkbox>
  </div>
  <div mat-dialog-actions>
    <button (click)="onClickSaveCurrentWidgetSelection()" mat-raised-button color="primary" [mat-dialog-close]="true">
      Speichern
    </button>
    <button (click)="onClickAbortWidgetSelection()" mat-raised-button color="primary" [mat-dialog-close]="true">
      Abbrechen
    </button>
  </div>
</div>
