<div>
  <mat-form-field>
    <mat-label>Search in Data</mat-label>
    <label>
      <input matInput (keyup)="onApplyFilter($event)" placeholder="Suche Angestellter" #input>
    </label>
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</mat-header-cell>
      <mat-cell *matCellDef="let row;">{{row.firstName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</mat-header-cell>
      <mat-cell *matCellDef="let row;">{{row.lastName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
      <mat-cell *matCellDef="let row;">{{row.department}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="employedSince">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Employed since</mat-header-cell>
      <mat-cell *matCellDef="let row;">{{row.employedSince | date:'d.MM.YYYY'}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
</div>
<div *ngIf="isLoading" class="loading-spinner">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<div *ngIf="!isLoading && dataSource?.filteredData">
  <button mat-mini-fab class="round-action-button">
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>
