# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.celightcms.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\ARBEIT\celightcms\.idea\.idea.celightcms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
