<h1 mat-dialog-title>
  Benutzer-Info
</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item>Benutzer-Name: {{store.appStateData.cognitoUser?.username}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Tech-Sub: {{store.appStateData.cognitoUser?.attributes?.sub}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Email: {{store.appStateData.cognitoUser?.attributes?.email}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Email
      verifiziert: {{store.appStateData.cognitoUser?.attributes?.email_verified ? 'Ja' : 'Nein'}}</mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">
    Schliessen
  </button>
</div>
